<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cloth</title>

<script th:src="@{/resources/jquery-2.2.1.min.js}"></script>

<link rel="stylesheet" type="text/css" th:href="@{/resources/registerStyle.css}" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.indigo-pink.min.css" />

</head>
<body>
	<script defer="defer" src="https://code.getmdl.io/1.1.1/material.min.js"></script>

	<hgroup>
		<h1>Cloth</h1>
		<h3>Please Register</h3>
		<!-- SI LA PROPIEDAD duplicateUserError ESTA SETEADA EN EL MODELO ENTONCES QUIERE DECIR QUE EL USUARIO YA SE HABIA REGISTRADO ANTES -->
		<h4 th:text="${duplicateUserError} ? ${'User '+duplicateUserError+' exists!'}" class="error">Error message</h4>
	</hgroup>
	
	<form method="post" action="/user/register" th:object="${userRegisterForm}">
		<div class="errors" th:if="${#fields.hasErrors('*')}">
			<ul>
				<!-- se declarara un <li> por cada error encontrado. cada error se guarda en una variable temporal 'err' -->
				<li th:each="err: ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
			</ul>
		</div>
		<div  th:if="${#fields.hasErrors('*')}">
			<br/><br/>
		</div>

		<div class="group">
			<input type="email" th:field="*{email}"></input><span class="highlight"></span><span class="bar"></span> <label>Email</label>
		</div>
		<div class="group">
			<input th:field="*{name}"></input><span class="highlight"></span><span class="bar"></span> <label>Name</label>
		</div>
		<div class="group">
			<input th:field="*{dni}"></input><span class="highlight"></span><span class="bar"></span> <label>Dni</label>
		</div>
		<div class="group">
			<input type="password" th:field="*{password}"></input><span class="highlight"></span><span class="bar"></span> <label
				th:class="${#fields.hasErrors('password')}? 'error'">Password</label>
		</div>
		<div class="group">
			<input type="password" th:field="*{duplicatePassword}"></input><span class="highlight"></span><span class="bar"></span> <label
				th:class="${#fields.hasErrors('duplicatePassword')}? 'error'">Re-enter password</label>
		</div>
		<button class="button buttonBlue">
			Register
			<div class="ripples buttonRipples">
				<span class="ripplesCircle"></span>
			</div>
		</button>
		<a th:href="@{/user/login}">Login</a>
	</form>


	<script>
		$(window, document, undefined)
				.ready(
						function() {

							$('input').blur(function() {
								var $this = $(this);
								if ($this.val())
									$this.addClass('used');
								else
									$this.removeClass('used');
							});

							var $ripples = $('.ripples');

							$ripples.on('click.Ripples', function(e) {

								var $this = $(this);
								var $offset = $this.parent().offset();
								var $circle = $this.find('.ripplesCircle');

								var x = e.pageX - $offset.left;
								var y = e.pageY - $offset.top;

								$circle.css({
									top : y + 'px',
									left : x + 'px'
								});

								$this.addClass('is-active');

							});

							$ripples
									.on(
											'animationend webkitAnimationEnd mozAnimationEnd oanimationend MSAnimationEnd',
											function(e) {
												$(this)
														.removeClass(
																'is-active');
											});

						});
	</script>
</body>
</html>